body {
    background-color: #decdc3;
    color: #2d4059;
}

header {
    background-color: #ea5455;
    border-style: solid;
    border-width: 1px;
    border-color: #2d4059;
    text-align: center;
    grid-area: header;
}

a:link, a:visited {
    background-color:#ea5455;
    color: #2d4059;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-style: solid;
    border-width: 1px;
    border-color: #2d4059;
  }

a:hover, a:active {
    background-color:#ea5455b6;
  }

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

nav {
    grid-area: nav;
}

main {
    grid-area: main;
}

aside {
    grid-area: aside;
}

footer {
    background-color:#ea5455;
    border-style: solid;
    border-width: 1px;
    border-color: #2d4059;
    text-align: center;
    grid-area: footer;
}

.box {
    display: grid;
    gap: 5px;
    grid-template-columns: 33.33% 33.33% 33.33%;
    grid-template-areas: 
    'header header header'
    'nav main aside'
    'footer footer footer';
}
